.spinner{
    display: flex;
    justify-content: center;
}
.my-col{
    padding: 1%;
    width: 400px;
    margin-right: 1%;
    margin-bottom: 2.6%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thumbnail > img {
    height: 350px;
    width: 400px;
}
.thumbnail > p {
    padding-top: 1.8%;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.row{
    justify-content: space-around;
}
.like-btn{
    border:none;
    background: none;
    position: relative;
    left: 90%;
    transition: all 0.3s;
}
.like-btn:hover{
    cursor: pointer;
}
.like-btn-active{
    border:none;
    background: none;
    position: relative;
    left: 90%;
    transform: scale(1.1);
    transition: all .3s;
    color: red;
}
.like-btn-active:hover{
    cursor: pointer;
}

/* Media Queries */

@media (max-width: 540px) and (min-height:720px) {
    .my-container{
        margin-left: 3.5%;
    }
}

@media screen and (max-width: 414px) {
    .my-container{
        margin-left: 4%;
    }
}
@media screen and (max-width: 320px) {
    .thumbnail > img {
        height: 250px;
    }
    .like-btn{
        left: 85%;
    }
    .like-btn-active{
        left: 85%;
    }
}
