.navbar{
    border: 1px solid rgb(202, 198, 198);
    height: 52px;
    width: 100%;
    position: fixed;
    background-color: white;
}
.title{
    color: black;
    text-decoration: none;
    font-size: 25px;
    cursor:pointer;
    margin-left: 20%;
    position: absolute;
    top: 20%;
    left: 5%;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.title:hover{
    color:black;
}
.btn-link{
    position: absolute;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    top: 10%;
    right: 27%;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #0095f6;
    cursor: pointer;
    transition: all 0.2s linear;
    font-family: 'Open Sans', sans-serif;
}
.btn-link:hover{
    background-color: white;
    color: #0095f6;
    border: 1px solid #0095f6;
}

/* Media Queries */
@media screen and (max-width:768px){
    .title {
        left: -10%;
    }
    .btn-link{
        right: 10%;
    }
}
@media screen and (max-width:320px){
    .title {
        left: -14%;
    }
}
@media screen and (max-width:280px){
    .title {
        font-size: 1.2rem;
        top: 30%;
    }
    .btn-link{
        font-size: .8rem;
    }
}